Service References/SMGeo/SMGeoServ1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5580/SMGeoServ.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SMGeoDataContracts" />
  <xs:import schemaLocation="http://localhost:5580/SMGeoServ.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetCountriesList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountriesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SMGeoDataContracts" minOccurs="0" name="GetCountriesListResult" nillable="true" type="q1:ArrayOfCountryData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCitiesCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="idCollection" nillable="true" type="q2:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCitiesCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SMGeoDataContracts" minOccurs="0" name="GetCitiesCollectionResult" nillable="true" type="q3:ArrayOfCityData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountriesCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="idCollection" nillable="true" type="q4:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountriesCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SMGeoDataContracts" minOccurs="0" name="GetCountriesCollectionResult" nillable="true" type="q5:ArrayOfCountryData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventGeoMap">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="strPlaceDataList" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEventGeoMapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetEventGeoMapResult" nillable="true" type="q7:ArrayOfKeyValueOfintArrayOfstringty7Ep6D1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCityList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDGeoCat" type="xs:int" />
        <xs:element minOccurs="0" name="GeoCategory" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCityListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SMGeoDataContracts" minOccurs="0" name="getCityListResult" nillable="true" type="q8:ArrayOfCityData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCityData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDCity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCityDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SMGeoDataContracts" minOccurs="0" name="getCityDataResult" nillable="true" type="q9:CityData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStatesList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDCountry" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStatesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SMGeoDataContracts" minOccurs="0" name="getStatesListResult" nillable="true" type="q10:ArrayOfStateRegionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SMGeoDataContracts" minOccurs="0" name="cd" nillable="true" type="q11:CityData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveCityResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SMGeoDataContracts" minOccurs="0" name="cd" nillable="true" type="q12:CountryData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveCountryResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveStateRegion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SMGeoDataContracts" minOccurs="0" name="srd" nillable="true" type="q13:StateRegionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveStateRegionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveStateRegionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeZonesList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeZonesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SMGeoDataContracts" minOccurs="0" name="GetTimeZonesListResult" nillable="true" type="q14:ArrayOfGEOTimeZoneInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SMGeoDataContracts" minOccurs="0" name="cqd" nillable="true" type="q15:CityQueryData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SMGeoDataContracts" minOccurs="0" name="SearchCitiesResult" nillable="true" type="q16:ArrayOfCityData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchStates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SMGeoDataContracts" minOccurs="0" name="sqd" nillable="true" type="q17:StateQueryData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchStatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SMGeoDataContracts" minOccurs="0" name="SearchStatesResult" nillable="true" type="q18:ArrayOfStateRegionDataQueryRez" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCityResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteStateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStateData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDState" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStateDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/SMGeoDataContracts" minOccurs="0" name="GetStateDataResult" nillable="true" type="q19:StateRegionData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchEmptyStates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchEmptyStatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/SMGeoDataContracts" minOccurs="0" name="SearchEmptyStatesResult" nillable="true" type="q20:ArrayOfStateRegionDataQueryRez" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryByState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IDState" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryByStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/SMGeoDataContracts" minOccurs="0" name="GetCountryByStateResult" nillable="true" type="q21:CountryData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>