Service References/SMAuthorization/SMAuthorizationServ2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5280/SMAuthorizationServ.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SMDataContracts" />
  <xs:element name="getAdmintWorkPermissionWithTempPass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sUName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AppID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAdmintWorkPermissionWithTempPassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getAdmintWorkPermissionWithTempPassResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SMDataContracts" minOccurs="0" name="DeleteUserResult" nillable="true" type="q1:ArrayOfErrorContainer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserSafe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="adminname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sAdminPass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserSafeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SMDataContracts" minOccurs="0" name="DeleteUserSafeResult" nillable="true" type="q2:ArrayOfErrorContainer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SMDataContracts" minOccurs="0" name="ud" nillable="true" type="q3:UserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SMDataContracts" minOccurs="0" name="CreateNewUserResult" nillable="true" type="q4:ArrayOfErrorContainer" />
        <xs:element minOccurs="0" name="UID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewUserSecure">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SMDataContracts" minOccurs="0" name="ud" nillable="true" type="q5:UserData" />
        <xs:element minOccurs="0" name="adminname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sAdminPass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNewUserSecureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SMDataContracts" minOccurs="0" name="CreateNewUserSecureResult" nillable="true" type="q6:ArrayOfErrorContainer" />
        <xs:element minOccurs="0" name="UID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserDataByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AppId" type="xs:int" />
        <xs:element minOccurs="0" name="iLang" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserDataByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SMDataContracts" minOccurs="0" name="getUserDataByNameResult" nillable="true" type="q7:UserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserDataByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AppId" type="xs:int" />
        <xs:element minOccurs="0" name="iLang" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserDataByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SMDataContracts" minOccurs="0" name="getUserDataByEmailResult" nillable="true" type="q8:UserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserDataByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="AppId" type="xs:int" />
        <xs:element minOccurs="0" name="iLang" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserDataByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SMDataContracts" minOccurs="0" name="getUserDataByIDResult" nillable="true" type="q9:UserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserRoleData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AppID" type="xs:int" />
        <xs:element minOccurs="0" name="iLang" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserRoleDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SMDataContracts" minOccurs="0" name="getUserRoleDataResult" nillable="true" type="q10:UserRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAppRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AppID" type="xs:int" />
        <xs:element minOccurs="0" name="IDLang" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAppRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SMDataContracts" minOccurs="0" name="getAppRolesResult" nillable="true" type="q11:ArrayOfUserRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="Pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckPasswordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NewPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SMDataContracts" minOccurs="0" name="ResetPasswordResult" nillable="true" type="q12:ArrayOfErrorContainer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUsersRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AppID" type="xs:int" />
        <xs:element minOccurs="0" name="RoleID" type="xs:int" />
        <xs:element minOccurs="0" name="adminname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sAdminPass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUsersRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SMDataContracts" minOccurs="0" name="UpdateUsersRoleResult" nillable="true" type="q13:ArrayOfErrorContainer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SMDataContracts" minOccurs="0" name="ud" nillable="true" type="q14:UserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SMDataContracts" minOccurs="0" name="UpdateUserDataResult" nillable="true" type="q15:ArrayOfErrorContainer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AppID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SMDataContracts" minOccurs="0" name="LogInResult" nillable="true" type="q16:UserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInSecure">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AppID" type="xs:int" />
        <xs:element minOccurs="0" name="SessionKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="encUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="encPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInSecureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SMDataContracts" minOccurs="0" name="LogInSecureResult" nillable="true" type="q17:UserData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUniqueness">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="AppID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUniquenessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckUniquenessResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>