Service References/SMAuthorization/SMAuthorizationServ.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMDataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMDataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5280/SMAuthorizationServ.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SMGeoDataContracts" />
  <xs:complexType name="ArrayOfErrorContainer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ErrorContainer" nillable="true" type="tns:ErrorContainer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfErrorContainer" nillable="true" type="tns:ArrayOfErrorContainer" />
  <xs:complexType name="ErrorContainer">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppID" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorCode" type="tns:ErrorCode" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FunctionName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorContainer" nillable="true" type="tns:ErrorContainer" />
  <xs:simpleType name="ErrorCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SMA_NOERRORS" />
      <xs:enumeration value="SMA_USERNAME_WRONG" />
      <xs:enumeration value="SMA_PASS_WRONG" />
      <xs:enumeration value="SMA_PROFILE_INACTIVE" />
      <xs:enumeration value="SMA_FILE_NOT_EXIST" />
      <xs:enumeration value="SMA_FILE_READONLY" />
      <xs:enumeration value="SMA_DATA_NOT_INSERTED_UPDATED" />
      <xs:enumeration value="SWE_NO_RIGHTS" />
      <xs:enumeration value="SMA_CONNECTION_ERR" />
      <xs:enumeration value="SMA_UROLEDATA_WRONG_EMPTY" />
      <xs:enumeration value="SMA_UNDEFINED" />
      <xs:enumeration value="SMA_ERROR_COMMUNICATION_WITH_PARAM_KEEPER" />
      <xs:enumeration value="SMA_EXCEPTION" />
      <xs:enumeration value="SMA_WRONG_INPUT_DATA" />
      <xs:enumeration value="SMA_LANG_VERSION_DOES_NOT_EXISTS" />
      <xs:enumeration value="SMA_WRONG_OUTPUT_DATA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ErrorCode" nillable="true" type="tns:ErrorCode" />
  <xs:complexType name="UserData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:UserDataSimple">
        <xs:sequence>
          <xs:element minOccurs="0" name="ActivationDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DOB" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Errors" nillable="true" type="tns:ArrayOfErrorContainer" />
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="MName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserRoleData" nillable="true" type="tns:UserRole" />
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SMGeoDataContracts" minOccurs="0" name="cityData" nillable="true" type="q1:CityData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserData" nillable="true" type="tns:UserData" />
  <xs:complexType name="UserDataSimple">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountryID" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" type="xs:int" />
      <xs:element minOccurs="0" name="LName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LanguageID" type="xs:int" />
      <xs:element minOccurs="0" name="RoleID" type="xs:int" />
      <xs:element minOccurs="0" name="UID" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="auxParam1" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDataSimple" nillable="true" type="tns:UserDataSimple" />
  <xs:complexType name="UserRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessLevel" type="xs:int" />
      <xs:element minOccurs="0" name="AppID" type="xs:int" />
      <xs:element minOccurs="0" name="RoleDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleID" type="xs:int" />
      <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserRole" nillable="true" type="tns:UserRole" />
  <xs:complexType name="ArrayOfUserRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserRole" nillable="true" type="tns:UserRole" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserRole" nillable="true" type="tns:ArrayOfUserRole" />
</xs:schema>