Service References/SMAuthorization/SMAuthorizationServ1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMGeoDataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMGeoDataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CityData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryData" nillable="true" type="tns:CountryData" />
      <xs:element minOccurs="0" name="IDCity" type="xs:int" />
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
      <xs:element minOccurs="0" name="StateRegionData" nillable="true" type="tns:StateRegionData" />
      <xs:element minOccurs="0" name="TimeDiff" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CityData" nillable="true" type="tns:CityData" />
  <xs:complexType name="CountryData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountryAcr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryID" type="xs:int" />
      <xs:element minOccurs="0" name="CountryName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountryData" nillable="true" type="tns:CountryData" />
  <xs:complexType name="StateRegionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountryRef" type="xs:int" />
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="StateRegionAcr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateRegionID" type="xs:int" />
      <xs:element minOccurs="0" name="StateRegionName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StateRegionData" nillable="true" type="tns:StateRegionData" />
</xs:schema>